<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stx.shopclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="stx.shopclient.mainactivity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="stx.shopclient.itemactivity.ItemActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="stx.shopclient.catalogbrowseractivity.CatalogBrowserActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name="stx.shopclient.searchactivity.SearchActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name="stx.shopclient.searchactivity.DateRangeSelectActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name="stx.shopclient.searchresultsactivity.SearchResultsActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name="stx.shopclient.cartactivity.CartActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name="stx.shopclient.overviewactivity.OverviewActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name="stx.shopclient.order_properties_activity.OrderPropertiesActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name="stx.shopclient.orderactivity.OrderActivity"
            android:label="@string/order_activity_name">
            
        </activity>
        <activity android:name="stx.shopclient.itemactivity.ItemImageActivity">
            
        </activity>
        <activity android:name="stx.shopclient.discountactivity.DiscountListActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name="stx.shopclient.discountactivity.DiscountActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name="stx.shopclient.messagesactivity.MessagesListActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name="stx.shopclient.messagesactivity.MessageActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name="stx.shopclient.loginactivity.LoginActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity android:name="stx.shopclient.settingsactivity.SettingsActivity"
            android:label="@string/app_name">
            
        </activity>
    </application>

</manifest>
